body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.makeStyles-formControl-6 {
  margin: 0px!important;
  min-width: 100%!important;
}

.MuiFormControl-root {
  min-width: 100%!important;
}

textarea {
  width: 100%!important;
  min-height: 50px!important;
  overflow: hidden
}